<div class="footer">
<hr>

  <nav>
    <%= link_to "books", books_path %> | <%= link_to "authors", authors_path %> | <%= link_to "loans", loans_path %> | <%= link_to "users", users_path %> 
  </nav>

</div>